# Arquivos compilados pelo PyInstaller
/dist/
/build/
/*.spec

# Arquivos temporários do Python
__pycache__/
/*.py[cod]
*$py.class

# Arquivos de log
*.log

# Ambientes virtuais
venv/
.env/

# Arquivos de configuração do VS Code
.vscode/


# Sistema operacional
.DS_Store
Thumbs.db

# arquivos de testes
/teste/